
/* 
「使い方」のもっと読むボタン実装
　https://metrograph.jp/css_gradation_paragraph/ <- このサイトのCSSを流用
 */
 .grad-wrap {
position: relative;
}
.grad-wrap + .grad-wrap {
margin-top: 40px;
}
.grad-btn {
z-index: 2;
position: absolute;
bottom: 0;
left: 50px;
width: 100px;
transition: .2s ease;
margin: auto;
}
.grad-btn-style{
padding: .5em 0;
border-radius: 2px;
background: #ffffff;
color: #000;
font-size: 0.9rem;
text-align: center;
cursor: pointer;
box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.grad-btn::after {
content: "続きを読む"
}
.grad-btn:hover {
background: #fff;
color: #009e8f;
}
.grad-btn .fa {
margin-right: .5em;
}
.grad-item {
position: relative;
overflow: hidden;
height: 80px;
}
.grad-item p + p {
margin-top: 1em;
}
.grad-item::before {
display: block;
position: absolute;
bottom: 0;
left: 0;
content: "";
width: 100%;
height: 40px; /*グラデーションで隠す範囲*/
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
}
.grad-trigger {
display: none;
}
.grad-trigger:checked ~ .grad-btn {
bottom: -2em;
}
.grad-trigger:checked ~ .grad-btn::after {
content: "閉じる"
}
.grad-trigger:checked ~ .grad-btn .fa {
transform: rotate(180deg);
}
.grad-trigger:checked ~ .grad-item {
height: auto;
}
.grad-trigger:checked ~ .grad-item::before {
display: none;
}